@import "style.css";
.video{
  display: flex;
  align-items: center;
  justify-content: center;
}
.iframe-container{ 
  padding-top:20px;
  text-align: center;
  padding-bottom: 30px
}

.box-1 {
  padding-left: 210px;
  margin: 0 auto;
  margin-top: 20px;
  float: left;
  padding-bottom: 40px;
}

.n {
  text-align: center;
  padding-top: 10px;
  margin: 20px;
  width: 380px;
  height: 130px;
  background-color: white;
  border-radius: 30px;
  font-size: 22px;
  padding-left: 20px;
}

.box-2 {
  padding-right: 210px;
  margin: 0 auto;
  margin-top: 20px;
  float: right;
  padding-bottom: 40px;
}

.box-2 h2 {
  text-align: center;
}
.box-1 h2 {
  text-align: center;
}
* {
  margin: 0;
  box-sizing: border-box;
  background-color: #FAF5E4;
  font-family: 'Crimson Pro', serif;
  color: #F8B400;
}
.title{
  padding-top:100px;
  padding-bottom:12px;
  text-align:center;
}
.itle{
  padding-top:10px;
  padding-bottom:12px;
  text-align:center;
}
.textarea {
  background-color: #ffffff;
  color: black;
  padding: 1em;
  border-radius: 30px;
  outline: none;
  width: 900px;
  border: 2px solid transparent;
  height: 500px;
  font-size: 20px;
}